/*
	Sidebar
*/

.dashboard {
	position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    width: 30%;
    background: #000;
}

.dashboard h1, h3, p, form {
	color: #FFF;
}

.dashboard-text {
	margin: 15px;
}

#intro, #stats, #interactive {
	min-height: 100px;
}

/**
	Map
*/

#map {
	position: absolute;
    top: 0; 
    bottom: 0; 
    right: 0;
    width: 70%;
}
